# Ignore these files:
tp1.pdf
/example
/experimentacion/instancias
/experimentacion/.ipynb_checkpoints
jambotubos

# Ignore vim files
*.swp

# temporales de latex
*.aux
*.bbl
*.blg
*.synctex.gz
*.log
*.toc
informe/informe.pdf
